---
layout: default
---

<!-- Header -->
<header class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>JuliaDynamics</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <!-- Description of JuliaDynamics -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="lead text-center text-muted"> JuliaDynamics is GitHub organization that develops <a
                href="http://www.julialang.org">Julia</a> packages dealing with nonlinear dynamics & chaos.
                These packages are tools used by scientists
                working in chaos and nonlinear dynamics. </p>
        </div>
    </div>

    <!-- Packages and their logos -->
    <div class="row text-center" id="packages">
        <h2 class="page-header"><i class="fa fa-cubes"></i> Packages</h2>
        <!-- billiards -->
        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/DynamicalBilliards.jl/dev/"><img src="videos/billiards/DynamicalBilliards_logo_animated.gif" alt="DynamicalBilliards.jl" width="350"></a>
            <p class="text-left text-muted"> <br> An easy-to-use, modular, performant and extendable Julia package for dynamical billiards in two dimensions.
            </p>
        </div>
        <!-- DynSys -->
        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/DynamicalSystems.jl/dev/"><img src="videos/chaos/dynamicalsystems_logo.gif" alt="DynamicalSystems.jl" width="350"></a>
            <p class="text-left text-muted"> <br> A Julia software library for the exploration of chaos and nonlinear dynamics.
            </p>
        </div>
        <!-- TSPred -->
        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/TimeseriesPrediction.jl/dev/"><img src="videos/tspred/tspred_logo.png"
                            alt="TimeseriesPrediction.jl" width="350"></a>
            <p class="text-left text-muted"> <br> Prediction of timeseries using methods of nonlinear dynamics and timeseries analysis. </p>
        </div>
    </div>

    <!-- Features / Aspects -->
    <div class="row text-center" id="features">
        <h2 class="page-header"><i class="fa fa-check-circle"></i> Features</h2>
        <div class="col-md-4">
                <span class="fa-stack fa-lg" id="feature1">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-check-square-o fa-stack-1x"></i>
                </span>
            <h3>Simple</h3>
            <p class="text-left text-muted"> All packages are intuitive, simple to use and simple to understand.
                We also take extra care to write simple and consice source code.
            </p>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-lg" id="feature2">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-book fa-stack-1x"></i>
                </span>
            <h3>Documentation</h3>
            <p class="text-left text-muted"> Every package is accompanied with its own dedicated documetnation which is automatically generated, always updated and full of details and examples.
                Click the logo of each package to access the documentation.
            </p>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-lg" id="feature3">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-github fa-stack-1x"></i>
                </span>
            <h3>Open Source</h3>
            <p class="text-left text-muted">
                All packages are open source and hosted on GitHub! Every package is also licenced under MIT,
                which is one of the most permissive licences. Want to contribute? Check out the GitHub repos of the individual packages!
            </p>
        </div>
    </div>

    <!-- Code snippets! -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-file-code-o"></i> Code Examples</h2>

            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#example1" aria-controls="example1" role="tab"
                                                          data-toggle="tab">Test 1</a></li>
                <li role="presentation"><a href="#example2" aria-controls="example2" role="tab" data-toggle="tab">Test
                    2</a></li>
                <li role="presentation"><a href="#example3" aria-controls="example3" role="tab" data-toggle="tab">Test
                    3</a></li>
                <li role="presentation"><a href="#example4" aria-controls="example4" role="tab" data-toggle="tab">Test
                    4</a></li>
                <li role="presentation"><a href="#example5" aria-controls="example5" role="tab" data-toggle="tab">Test
                    5</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content">
                {% include codesnippet.html id="example1" name="test" imgname="test.svg" title="Particle in Harmonic
                Trap"%}
                {% include codesnippet.html id="example2" name="test" imgname="test.svg" title="Squeezed Fock State" %}
                {% include codesnippet.html id="example3" name="test" imgname="test.svg" title="Spin-3/2-System" %}
                {% include codesnippet.html id="example4" name="test" imgname="test.svg" title="Three-Level System" %}
                {% include codesnippet.html id="example5" name="test" imgname="test.svg" title="Jaynes-Cummings System"
                %}
            </div>
        </div>
    </div>


    <!-- Getting started / Installation -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-arrow-circle-right"></i> Getting Started</h2>

            <p>
            All packages of JuliaDynamics are registered!
            To install them simply press <code>]</code> to enter the package manager mode and then do:
            <code>add PackageName</code>.
            To get started with Julia, check out <a
               href="https://docs.julialang.org/en/stable/manual/getting-started/">Julia's setup instructions</a>.
            For plotting we recommend <code>PyPlot</code> or <code>Makie</code>.
            </p>
        </div>
    </div>


</div>
