---
layout: default
---

<!-- Header -->
<header class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>JuliaDynamics</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <!-- Description of JuliaDynamics -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="lead text-center text-muted"> JuliaDynamics is GitHub organization that develops <a
                href="http://www.julialang.org">Julia</a> packages dealing with nonlinear dynamics & chaos.
                These packages are tools used by scientists
                working in chaos and nonlinear dynamics. </p>
        </div>
    </div>

    <!-- Packages and their logos -->
    <div class="row text-center" id="packages">
        <h2 class="page-header"><i class="fa fa-cubes"></i> Packages</h2>
        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/DynamicalBilliards.jl/dev/"><img src="videos/billiards/DynamicalBilliards_logo_animated.gif" alt="DynamicalBilliards.jl" height="100"></a>
            <p class="text-left text-muted"> <br> An easy-to-use, modular, performant and extendable Julia package for dynamical billiards in two dimensions.
            </p>
        </div>
        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/DynamicalSystems.jl/latest/"><img src="videos/chaos/dynamicalsystems_logo.gif" alt="DynamicalSystems.jl" height="100"></a>
            <h3>DynamicalSystems.jl</h3>
            <p class="text-left text-muted"> A Julia software library for the exploration of chaos and nonlinear dynamics..
            </p>
        </div>
        <div class="col-md-4">
            <a href=""><img src="https://via.placeholder.com/300x100?text=DynamicalPlaceholder.jl"
                            alt="placeholder"></a>
            <p class="text-left text-muted">Coming soon... <a href="https://github.com/qojulia/JuliaDynamics.jl">GitHub
                    page</a>.</p>
        </div>
    </div>

    <!-- Features / Aspects -->
    <div class="row text-center" id="features">
        <h2 class="page-header"><i class="fa fa-check-circle"></i> Features</h2>
        <div class="col-md-4">
                <span class="fa-stack fa-lg" id="feature1">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-line-chart fa-stack-1x"></i>
                </span>
            <h3>Performance</h3>
            <p class="text-left text-muted">JuliaDynamics.jl optimizes processor usage and memory consumption by relying
                on different ways to store and work with operators. Check out the <a href="benchmarks">benchmarks</a>.
            </p>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-lg" id="feature2">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-cubes fa-stack-1x"></i>
                </span>
            <h3>Usability</h3>
            <p class="text-left text-muted">The framework comes with a plethora of pre-defined systems and interactions
                making it very easy to focus on the physics, not on the numerics. Read the <a href="documentation">documentation</a>.
            </p>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-lg" id="feature3">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-cogs fa-stack-1x"></i>
                </span>
            <h3>Reliability</h3>
            <p class="text-left text-muted">Every function in the framework has been severely tested with all tests and
                their code coverage presented on the framework's <a href="https://github.com/qojulia/JuliaDynamics.jl">GitHub
                    page</a>.</p>
        </div>
    </div>

    <!-- Getting started / Installation -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-arrow-circle-right"></i> Getting Started</h2>

            <p>To get started with Julia, check out <a
                    href="https://docs.julialang.org/en/stable/manual/getting-started/">Julia's setup instructions</a>.
                For plotting we recommend <a href="https://matplotlib.org">matplotlib</a> in Python, which plays nicely
                with Julia. Before you can execute any of the framework's functions, you will need to add the <code>JuliaDynamics</code>
                package to Julia, as shown below. Plotting with matplotlib is then enabled by adding the
                <code>PyPlot</code> package. To install packages, you simply need to start Julia and press the
                <code>]</code> key to enter the package manager (see also the <a
                        href="https://docs.julialang.org/en/v1/stdlib/Pkg/index.html#Getting-Started-1">Julia docs</a>).
                Then you can add packages as follows.</p>

            <pre><code class="language-julia">|pkg> add JuliaDynamics   # Install JuliaDynamics.jl package
|pkg> add PyPlot	  # Support for matplotlib from within Julia</code></pre>
        </div>
    </div>


    <!-- Code snippets! -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-file-code-o"></i> Code Examples</h2>

            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#example1" aria-controls="example1" role="tab"
                                                          data-toggle="tab">Test 1</a></li>
                <li role="presentation"><a href="#example2" aria-controls="example2" role="tab" data-toggle="tab">Test
                    2</a></li>
                <li role="presentation"><a href="#example3" aria-controls="example3" role="tab" data-toggle="tab">Test
                    3</a></li>
                <li role="presentation"><a href="#example4" aria-controls="example4" role="tab" data-toggle="tab">Test
                    4</a></li>
                <li role="presentation"><a href="#example5" aria-controls="example5" role="tab" data-toggle="tab">Test
                    5</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content">
                {% include codesnippet.html id="example1" name="test" imgname="test.svg" title="Particle in Harmonic
                Trap"%}
                {% include codesnippet.html id="example2" name="test" imgname="test.svg" title="Squeezed Fock State" %}
                {% include codesnippet.html id="example3" name="test" imgname="test.svg" title="Spin-3/2-System" %}
                {% include codesnippet.html id="example4" name="test" imgname="test.svg" title="Three-Level System" %}
                {% include codesnippet.html id="example5" name="test" imgname="test.svg" title="Jaynes-Cummings System"
                %}
            </div>
        </div>
    </div>

    <!-- Documentation -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-book"></i> Extensive Documentation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Besides the above quick start code snippets JuliaDynamics.jl comes with an <a href="documentation">extensive
                documentation and many detailed examples</a>.</p>
        </div>

    </div>

    <!-- Open Source Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-github-alt"></i> Open Source and Community Driven</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>JuliaDynamics.jl is developed in <a href="http://uibk.ac.at/th-physik/cqed">Helmut Ritsch's CQED
                group</a> at the Institute for Theoretical Physics of the University of Innsbruck. Development is lead
                by <a href="https://github.com/Datseris">George Datseris</a>.</p>
            <p>JuliaDynamics.jl is open source and <a href="https://github.com/JuliaDynamics">hosted on GitHub</a>. All
                community contributions are very welcome and coordinated by the head developer. If you want to join our
                effort, fork the repository and send us your pull requests!</p>
        </div>

    </div>
</div>
