---
layout: default
---

<!-- logo -->

<img src="videos/logo/logo.png" alt="Background plots" width=100%>

<div class="container">
<br>
<br>
<br>
</div>
<!-- Page Content -->
<div class="container">
    <!-- Description of JuliaDynamics -->

    <!-- Packages and their logos -->
    <h2 class="page-header"><i class="fa fa-cubes"></i> Packages</h2>
    <div class="row text-center" id="packages">
        <!-- DynSys -->
        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/DynamicalSystems.jl/dev/"><img src="videos/chaos/dynamicalsystems_logo.gif" alt="DynamicalSystems.jl" width="100%"></a>
            <p class="text-left text-muted"> <br> A feature-full library for the exploration of dynamical systems and chaos. Works universally for any dynamical system, discrete or continuous.
            </p>
        </div>
        <!-- billiards -->
        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/DynamicalBilliards.jl/dev/"><img src="videos/billiards/DynamicalBilliards_logo_animated.gif" alt="DynamicalBilliards.jl" width="100%"></a>
            <p class="text-left text-muted"> <br> An easy-to-use, modular, performant and extendable package for dynamical billiards in two dimensions.
            </p>
        </div>
        <!-- TSPred -->
        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/TimeseriesPrediction.jl/dev/"><img src="videos/tspred/tspred_logo.png"
                            alt="TimeseriesPrediction.jl" width="100%"></a>
            <p class="text-left text-muted"> <br> Prediction of timeseries using methods of nonlinear dynamics and timeseries analysis. </p>
        </div>
    </div>

    <div class="row text-center" id="packages">

        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/DynamicalSystems.jl/dev/#interactivechaos"><img src="videos/interact/interactive_chaos_logo.gif"
                            alt="InteractiveChaos" width="100%"></a>
            <p class="text-left text-muted"> <br> Interactive applications for the exploration of chaos and dynamical systems. </p>
        </div>
        <div class="col-md-4">
            <a href="https://juliadynamics.github.io/DrWatson.jl/dev/"><img src="videos/drwatson/DrWatson-banner-nobg.png"
                            alt="DrWatson" width="100%"></a>
            <p class="text-left text-muted"> <br> Software that helps scientists deal with their scientific projects. </p>
        </div>
    </div>

    <!-- Features / Aspects -->
    <div class="row text-center" id="features">
        <h2 class="page-header"><i class="fa fa-th-large"></i> Features</h2>
        <div class="col-md-4">
                <span class="fa-stack fa-lg" id="feature1">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-check-square-o fa-stack-1x"></i>
                </span>
            <h3>Simple</h3>
            <p class="text-left text-muted"> All packages are intuitive, simple to use and simple to understand.
                We also take extra care to write simple and concise source code.
            </p>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-lg" id="feature2">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-book fa-stack-1x"></i>
                </span>
            <h3>Well Documented</h3>
            <p class="text-left text-muted"> Every package is accompanied with its own dedicated documentation which is automatically generated, always up-to-date and full of examples.
                In addition all exported functions have detailed documentation strings. Click the logo of each package to access the documentation.
            </p>
        </div>
        <div class="col-md-4">
                <span class="fa-stack fa-lg" id="feature3">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-github fa-stack-1x"></i>
                </span>
            <h3>Open Source</h3>
            <p class="text-left text-muted">
                All packages are open source and hosted on GitHub! Every package is also licenced under MIT,
                which is one of the most permissive licences. Want to contribute? Check out the GitHub repos of the individual packages!
            </p>
        </div>
    </div>

    <!-- Code snippets! -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-file-code-o"></i> Code Examples</h2>

            <ul class="nav nav-pills nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#example1" aria-controls="example1" role="tab" data-toggle="tab">Chaos in billiards</a></li>
                <li role="presentation"><a href="#example2" aria-controls="example2" role="tab" data-toggle="tab">Geometric <br> optics</a></li>
                <li role="presentation"><a href="#example3" aria-controls="example3" role="tab" data-toggle="tab">Magnetic & periodic billiards</a></li>
                <li role="presentation"><a href="#example4" aria-controls="example4" role="tab" data-toggle="tab">Boundary <br> maps </a></li>
                <li role="presentation"><a href="#example5" aria-controls="example5" role="tab" data-toggle="tab">Lyapunov <br> exponents</a></li>
                <li role="presentation"><a href="#example6" aria-controls="example6" role="tab" data-toggle="tab">Delay <br> embedding</a></li>
                <li role="presentation"><a href="#example7" aria-controls="example7" role="tab" data-toggle="tab">Recurrence matrices</a></li>
                <li role="presentation"><a href="#example8" aria-controls="example8" role="tab" data-toggle="tab">Poincaré <br> section</a></li>
                <li role="presentation"><a href="#example9" aria-controls="example9" role="tab" data-toggle="tab">Interactive <br>orbit diagram</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content">
                {% include codesnippet.html id="example1" name="billiard_disperse" vidname = "stadium.mp4" vidtype = "video/mp4" title="Chaos arising for particles in a focusing billiard"%}
                {% include codesnippet.html id="example2" name="geometric_optics" vidname = "geometric.mp4" vidtype = "video/mp4" title="Geometric optics and refraction law through ray-splitting" %}
                {% include codesnippet.html id="example3" name="magnetic_periodic" imgname="magnetic_periodic.png" title="Magnetic and rectangular/hexagonal periodic billiards" %}
                {% include codesnippet.html id="example4" name="boundary_map" imgname="boundary_map.png" title="Parallelized boundary map of the mushroom billiard" %}
                {% include codesnippet.html id="example5" name="lyapunovs" imgname="lyapunovs.png" title="Lyapunov spectrum of the Rössler system" %}
                {% include codesnippet.html id="example6" name="embedding" imgname="embedding.png" title="Finding optimal delay time and dimension for the Rössler system" %}
                {% include codesnippet.html id="example7" name="recurrence" imgname="recurrence.png" title="Recurrence matrices of the Rössler system" %}
                {% include codesnippet.html id="example8" name="poincare" imgname="poincare.png" title="Poincaré surface of section of the Hénon–Heiles system" %}
                {% include codesnippet.html id="example9" name="orbitdiagram" vidname="orbitdiagram.mp4" vidtype = "video/mp4" title="Interactive orbit diagram of the logistic map"%}
            </div>
        </div>
    </div>


    <!-- Getting started / Installation -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-arrow-circle-right"></i> Getting Started</h2>

            <p>
            All packages of JuliaDynamics are registered!
            To install them simply press <code>]</code> to enter the package manager mode and then do:
            <code>add PackageName</code>.
            To get started with Julia, check out <a
               href="https://docs.julialang.org/en/stable/manual/getting-started/">Julia's setup instructions</a>.
            For plotting we recommend <code>PyPlot</code> or <code>Makie</code>.
            </p>
        </div>
    </div>

    <!-- Getting started / Installation -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-external-link"></i> Related software</h2>

            <p>
            Check out the following list for various packages related to dynamics, dynamical systems, timeseries, data analysis and more!
            </p>

            <ul>
            <li><a href="https://kahaaga.github.io/CausalityTools.jl/dev/">CausalityTools.jl</a> is a framework for detecting causal relations between timeseries.</li>
            <li><a href="https://github.com/JuliaStats/TimeSeries.jl/">TimeSeries.jl</a> is a lightweight framework for working with time series data in Julia.</li>
            <li><a href="https://gitlab.com/emagin-open-source/ucrdtw.jl">UcrDtw.jl</a> is a fast implementation of a Dynamic Time Warping algorithm for searching a timeseries for a given pattern.</li>
            <li><a href="https://github.com/kahaaga/TimeseriesSurrogates.jl/">TimeseriesSurrogates.jl</a> for generation (and use of) surrogate timeseries.</li>
            <li><a href="https://github.com/JuliaReach/Reachability.jl">Reachability.jl</a> for approximating the reachable states and checking safety properties of affine systems.</li>
            </ul>
        </div>
    </div>


</div>
