<footer class="footer {% if page.type == "documentation" %} documentation {% endif %}">
    <p>Copyright &copy; 2018 JuliaDynamics. Website modeled after <a href="https://qojulia.org/">QuantumOptics.jl</a>.</p>
</footer>

<!-- jQuery -->
	<script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
<!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Syntax Highlighting JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/julia.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>


{% if page.type == "benchmarks" %}
<!-- Chart JS Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
<script src="/js/benchmark-charts.js"></script>
{% endif %}

{% if page.type == "documentation" %}
<!-- Documentation Search -->
<script>documenterBaseURL = "/documentation" </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js" data-main="/documentation/assets/documenter.js"></script>

{% if page.search == true %}
<script src="/documentation/search_index.js"></script>
<script src="/documentation/assets/search.js"></script>
{% endif %}
{% endif %}

{% if (page.type == "documentation") or (page.type == "benchmarks") %}
<! -- MathJAX for rendering Math, enable $ ... $ as inline math environment -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}
